.date{
    color:#c7baba;
}
.header{
  color:   #9e9c9c;
}
.button{
    border: none;
    color: #316d98;
    background-color: white;
}
.button:focus{
    outline: none;
    border-bottom: 2px solid black !important;
}