.date{
    color:#c7baba;
}
.header{
  color:   #9e9c9c;
}
.button{
    border: none;
    color: #316d98;
    background-color: white;
}
.button:focus{
    outline: none;
    border-bottom: 2px solid black !important;
}
.iconcolor{
    color: #afaaaa;
}
.iconcolor2{
    color: black !important;
}

.table tr.active td {
    background-color:#f5f5f5 !important;
   
  }
  .button2{
    outline: none;
    border-bottom: 2px solid black !important;
}
.highlight{
    color:#7fc7f0;
}