

 
  
  
  <table class="table">
    <thead>
    <tr class="header">
      <th scope="col">Date</th>
      <th scope="col">List Name</th>
      <th scope="col">No of Entities</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of data$ | async; index as i">
     
      <td>
        <ngb-highlight class="date" [result]="country.date" [term]="filter.value"></ngb-highlight>
      </td>
      <td><b><ngb-highlight [result]="country.listName" [term]="filter.value"></ngb-highlight></b></td>
      <td><ngb-highlight [result]="country.entity | number" [term]="filter.value"></ngb-highlight></td>
     <td><i class="fa fa-address-book" aria-hidden="true"></i></td>
      <td><button class= "button" (click)="details(i)">Details</button></td>
    </tr>
    </tbody>
  </table>