.justify{
    justify-content: space-between;
}
.display{
    display: inherit;
}
.wd400{
    width: 600px;

}
.mr10{
    margin-top:19px;
}
.bgcolor{
    background-color: #f5f5f5;
}
.list{
    margin: 18px;
    background-color: #002b42;
    color: white;
}
.filter{
    margin: 18px;
   
    color: black;
}