<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Saved List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Saved Filters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Search History</a>
    </li>
    <li class="nav-item">
        <form>
            <div class="form-group form-inline">
              <input placeholder="search" class="form-control ml-2" type="text" (change)="filterval()" [formControl]="filter"/>
            </div>
          </form> </li>
  </ul>